name: build binaries

on:
  push:
    tags: [ 'v*' ]
  pull_request:
  workflow_dispatch:

jobs:
  build:
    name: Build binaries
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - goos: linux
            goarch: amd64
          - goos: linux
            goarch: arm64
          - goos: windows
            goarch: amd64
            suffix: .exe
          - goos: darwin
            goarch: amd64
          - goos: darwin
            goarch: arm64
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'

      - name: Build client
        env:
          GOOS: ${{ matrix.goos }}
          GOARCH: ${{ matrix.goarch }}
        run: |
          go build -v -o "dnstt-client-${{ matrix.goos }}-${{ matrix.goarch }}${{ matrix.suffix }}" ./dnstt-client

      - name: Build server
        env:
          GOOS: ${{ matrix.goos }}
          GOARCH: ${{ matrix.goarch }}
        run: |
          go build -v -o "dnstt-server-${{ matrix.goos }}-${{ matrix.goarch }}${{ matrix.suffix }}" ./dnstt-server

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dnstt-${{ matrix.goos }}-${{ matrix.goarch }}
          path: |
            dnstt-client-${{ matrix.goos }}-${{ matrix.goarch }}${{ matrix.suffix }}
            dnstt-server-${{ matrix.goos }}-${{ matrix.goarch }}${{ matrix.suffix }}
